.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-bottom: 10px;
  text-align: center;
}

.img {
  width: 35px;
  color: #787878;
}

.name {
  align-items: center;
  font-size: 12px;
}