.wrapper {
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #299B01;
    color: white;
}

.logoImg {
    width: 50px;
    margin-right: 10px;
}

.logo {
    display: flex;
    height: 50px;
    width: 300px;
    font-size: 25px;
    font-weight: 400;
    border-right: #000000;
    align-items: center;
}

.export_button {
    margin-left: auto;
}