.resize {
  border: 2px solid dimgrey;
  border-radius: 3px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
}

.top_left {
  cursor: nwse-resize;
  top: -5px;
  left: -5px;
}

.top_right {
  cursor: nesw-resize;
  top: -5px;
  right: -5px;
}

.bottom_right {
  cursor: nwse-resize;
  bottom: -5px;
  right: -5px;
}

.bottom_left {
  cursor: nesw-resize;
  left: -5px;
  bottom: -5px;
}